PROJECT_NAME=

NODE_ENV=
BACKEND_PORT=
API_URL=
FRONTEND_URL=

# Banco de Dados (Comunicação via rede interna do Docker)
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_DIALECT=

# URL de conexão para o prisma
DATABASE_URL=

# Segurança
JWT_SECRET=

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=""
OTEL_SERVICE_NAME=""
OTEL_RESOURCE_ATTRIBUTES=""
OTLP_GRPC_PORT=
OTLP_HTTP_PORT=

# Token de otimização do Prisma
PRISMA_OPTIMIZE_TOKEN=""

# Jaeger
JAEGER_PORT=